a:hover, a:visited {
    text-decoration: none !important;
}

.profile-header {
    position: relative;
}

.user-profile-text-box {
    position: relative;
}

@media screen and (max-width: 940px) {
    .profile-images-div {
        width: 100% !important;
    }

    .profile-img {
        margin-top: 10% !important;
        width: 180px !important;
    }

    .content-wrap-box {
        padding-top: 15% !important;
    }
}

.content-wrap-box {
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px;
}

.profile-images-div {
    width: inherit;
    position: relative;
    overflow: hidden;
    height: 270px;
}

.profile-img {
    width: 220px;
}

.user-profile-text-box {
    display: inline-block;
}

.profile-header {
    background-color: #222222;
    color: #fff;
}

p {
    padding: 6px;
}

.profile-header h4 {
    font-size: 36px !important;
    padding: 6px;
}

.edit-profile-img {
    background-color: #fff;
    color: #2D2D2D;
    display: inline-block;
    left: -45%;
    top: 40%;
    position: relative;
    padding: 6px;
}


.profile-img-box {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 20px;
}

.upload-header-image-div {
    position: relative;
    float: right;
    display: inline-block;
    background-color: #fff;
    padding: 6px;
    color: #2D2D2D;
}

/* vertical bar tabs */
@media screen and (max-width: 940px) {
    .vertical-bar {
        display: grid !important;
    }
}

.vertical-bar {
    position: sticky;
    /*z-index: 2;*/
    /*display: ;*/
}

.user-info-bar {
    position: relative;
    padding-top: 15px;

}

.user-info-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: paged-x-controls;
    line-height: 1.8;
    height: 48px;
}

/*nav #nav-btn-1, #nav-btn-2, #nav-btn-3, #nav-btn-4, #nav-btn-5, #nav-btn-6, #nav-btn-7 {*/
/*    float: left;*/
/*}*/

.user-info-bar li {
    padding: 14px 10px;
    float: left;
}

.vertical-bar-ul li a {
    display: block;
    color: #2D2D2D;
    text-align: center;
    text-decoration: none;
    font-family: 'Cafe24Oneprettynight', serif;
    font-size: 28px;
    cursor: pointer;
}

.vertical-bar-ul li a:hover {
    color: #9A9A9A !important;
}

/* user-info-bar-btn */
.user-info-bar-btn {
    position: absolute;
    right: 0;
    bottom: 9px;
}

.sc-btn-group {
    vertical-align: middle;
    display: inline-block;
    clear: both;
}

.sc-btn {
    float: left;
    margin-right: 5px;
}

.user-info-bar .active {
    color: #F2A1A1;
}

/*card*/

.track-box-contain {
    height: 100vh;
    margin: 10px;
}

.content-track-box {
    width: 200px;
    height: 268px;
    float: left;
    margin: 21px;
}

.container {
    padding: 2px 16px;
}

.track-link {
    cursor: pointer;
}

.artist-link {
    cursor: pointer;
}

.track-link:hover {
    color: #9A9A9A;
    font-size: 24px;
}

.artist-link:hover {
    color: #9A9A9A;
}

.sidebar-right {
    position: relative;
}

.fluid {
    position: relative;
}

.home-track-content-box {
    position: relative;
    height: 100vh;
    width: 70%;
}

.sidebar-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    border-left: 1px solid #7070703d;
}

.user-side-bar {
    position: relative;
    margin: 10px;
}

/*side bar number info table*/

.number-info-value {
    font-size: 22px;
    line-height: 1.2;
}

.number-info-title {
    margin-top: 0;
    line-height: .9;
    padding-top: 3px;
    font-size: 17px;
}

.number-info-title:visited {
    text-decoration: none;
}

.number-info-link {
    text-align: left;
}

.sidebar-number-info {
    width: 100%;
    text-align: left;
}

.sidebar-number-info-table {
    width: 100%;
    margin: 0 0 14px;

}

.number-info-stat {
    padding: 15px;
}

.right-border {
    border-right: 1px solid #7070703d;
}

.number-info-link {
    color: #4f4f4f;
}

.number-info-link:hover {
    color: #4f4f4f6b;
}

/* sidebar likes */
.sc-icon-like {
    background-image: url(../imgs/assets/Heart.svg);
    background-size: 13px 13px;
}

.sc-icon-follow {
    background-image: url(../imgs/assets/Profile.svg);
    background-size: 13px 13px;
}

.sc-icon-comment {
    background-image: url(../imgs/assets/Comment.svg);
}

.sidebarheader-icon {
    width: 21px;
    height: 24px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 3px;
}

.sidebarheader-title, .sidebarheader-more {
    line-height: 24px;
    font-size: 14px;
}


.sidebarheader-big-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #7070703d;
}
