<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static '/css/main.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/profile.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" media="mediatype screen and (max-width: 940px)" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" media="mediatype screen and (max-width: 940px)" href="{% static '/css/profile.css' %}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yoyo</title>
    <link rel="icon" type="image/png" href="{% static '/imgs/assets/logo-white.png' %}">
</head>
<body>
<header>
    <!--    nav bar(sign in)    -->
    <nav>
        <div class="nav justify-content-center">
            <li id="nav-btn-1" class="nav-item">
                <a href="{% url 'home' %}">
                    <img src="{% static '/imgs/assets/logo-small.svg' %}">
                </a>
            </li>
            <li id="nav-btn-2" class="nav-item"><a class="nav-link">chart</a></li>
            <li class="nav-item" id="nav-btn-3">
                <form class="search-bar nav-link">
                    <input type="text" placeholder="search artists or tracks" name="search-bar-input"
                           id="search-bar-input">
                    <input type="submit" value=" " name="search-bar-submit" id="search-bar-submit">
                </form>
            </li>

            <li class="nav-item" id="nav-btn-4"><a class="nav-link">user</a></li>
            <li class="nav-item" id="nav-btn-5"><a class="nav-link">upload</a></li>

            <li class="nav-item" id="nav-btn-6"><a class="nav-link">message</a></li>
            <div class="dropdown">
                <li class="nav-item" id="nav-btn-7">
                    <button onclick="dropdown()" class="nav-link" id="main-dropdown-btn"></button>
                </li>
                <div class="dropdown-content" id="myDropdown">
                    <a class="main-dropdown-item" href="#">about</a>
                    <a class="main-dropdown-item" href="#">setting</a>
                    <a class="main-dropdown-item" href="#">sign out</a>
                </div>
            </div>
        </div>
    </nav>
    <!--    TO DO : navbar (without sign in)    -->

</header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    function dropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('#main-dropdown-btn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<script>
    $(function () {
        $(".g-tabs").each(function () {
            if ($(this).prop('href') === window.location.href) {
                $(this).addClass('active');
                $(this).parents('li').addClass('active');
            }
        });
    });
</script>

<div class="main-div">
    <div class="profile-images-div">
        <!--        배경 이미지-->
        <img src="{% static 'imgs/assets/profile-pic.png' %}" style="width: inherit; height: 270px; position: absolute;"
             class="background-img" id="background-img">
        <!--        프로필 이미지-->
        <div class="profile-img-box">
            <img src="{% static 'imgs/assets/user-pic.png' %}" style="position: relative; left: 5%; margin-top: 1rem;
            border-radius: 50%; width: 220px; height: 220px;"
                 class="profile-img" id="profile-img">
            <a href="#" class="edit-profile-img">Update Image</a>
        </div>
        <div class="content-wrap-box">
            <div class="user-profile-text-box">
                <div class="profile-header big-title">
                    <h4>User name</h4>
                </div>
                <div class="profile-header">
                    <p>description</p>
                </div>
            </div>
            <div class="upload-header-image-div">
                <a href="#" class="upload-header-image">Upload Header Image</a>
            </div>
        </div>
    </div>
    <div class="vertical-bar">
        <div class="user-info-bar">
            <ul class="vertical-bar-ul">
                <li>
                    <a class="g-tabs" id="profile" href="{% url 'profile' %}" tabindex="0">All</a>
                </li>
                <li>
                    <a class="g-tabs" id="mr" href="{% url 'mr' %}" tabindex="1">MR</a>
                </li>
                <li>
                    <a class="g-tabs" id="songs" href="{% url 'songs' %}" tabindex="2">Songs</a>
                </li>
                <li>
                    <a class="g-tabs" id="likes" href="{% url 'likes' %}" tabindex="3">Likes</a>
                </li>
                <li>
                    <a class="g-tabs" id="followings" href="{% url 'followings' %}" tabindex="4">Followings</a>
                </li>
                <li>
                    <a class="g-tabs" id="followers" href="{% url 'followers' %}" tabindex="5">Followers</a>
                </li>
                <li>
                    <a class="g-tabs" id="comments" href="{% url 'comments' %}" tabindex="6">Comments</a>
                </li>
            </ul>
        </div>
        <div class="user-info-bar-btn">
            <div class="sc-btn-group">
                <a type="button" class="sc-btn">
                    message
                </a>
                <a type="button" class="sc-btn">
                    share
                </a>
                <a type="button" class="sc-btn">
                    edit
                </a>
            </div>
        </div>
        <hr>
    </div>
    <div class="fluid">
        <div class="home-track-content-box">
            {% block content %}
            {% endblock %}
        </div>
        <div class="sidebar-right">
            <div class="user-side-bar">
                <!--                followers followings tracks number info-->
                <article class="sidebar-number-info">
                    <table class="sidebar-number-info-table">
                        <tbody>
                        <tr>
                            <td class="number-info-stat right-border">
                                <a href="{% url 'followers' %}" class="number-info-link">
                                    <h3 class="number-info-title grey-color">Followers</h3>
                                    <div class="number-info-value grey-color">4</div>
                                </a>
                            </td>
                            <td class="number-info-stat right-border">
                                <a href="{% url 'followings' %}" class="number-info-link">
                                    <h3 class="number-info-title grey-color">Followings</h3>
                                    <div class="number-info-value grey-color">12</div>
                                </a>
                            </td>
                            <td class="number-info-stat">
                                <a href="{% url 'profile' %}" class="number-info-link">
                                    <h3 class="number-info-title grey-color">Tracks</h3>
                                    <div class="number-info-value grey-color">2</div>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </article>
                <!--              side bar  user bio        -->
                <article class="sidebar-user-info">
                    <p>hello world !</p>
                </article>
                <!--              side bar like songs  -->
                <article class="sidebar-likes-info">
                    <a class="sidebar-header" href="{% url 'likes' %}">
                        <h3 class="sidebarheader-big-title">
                            <span class="sc-icon-like sidebarheader-icon"></span>
                            <span class="sidebarheader-title">9 likes</span>
                        </h3>
                    </a>
                    <div class="sidebar-content-box">
                        {% for i in sl_range %}
                        <div class="sidebar-likes-each-content">
                            <div style="display: inline-flex;" class="sidebar-content-track-box" id="side-track-{{i}}">
                                <img src="../static/imgs/assets/Play.svg"
                                     id="play-btn-track-side-track-{{i}}" class="play-btn"
                                     style="position: absolute; width: 40px; height: 30px;
                            left: 3.2%; top: 25%; display: none; cursor: pointer">
                                <img src="/static/imgs/assets/music-pic.png" style="width:60px; height: 55px;"
                                     class="sidebar-track-img" id="side-track-img-{{i}}">
                            </div>
                            <div class="sl-text-box">
                                <p class="artist-link sidebar-likes-text sl-artist"><a href="#">user name</a>
                                    <span class="sidebar-likes-hash"><a href="#">#hash</a></span></p>
                                <br>
                                <p class="track-link sidebar-likes-text sl-track">Music title</p>
                                <!--                                icons                                 -->
                                <div>
                                    <div>
                                        <span class="sc-icon-play-count profile-track-icon"></span>
                                        <span class="sidebarheader-title">144k</span>

                                        <span class="sc-icon-like profile-track-icon"></span>
                                        <a href="#">
                                            <span class="sidebarheader-title">220k</span>
                                        </a>

                                        <a href="{% url 'comments' %}">
                                            <span class="sc-icon-comment profile-track-icon"></span>
                                            <span class="sidebarheader-title">50</span>
                                        </a>
                                        <a href="#">
                                            <span class="sc-icon-share"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </article>
                <!--              side bar follower info    -->
                <article class="sidebar-followers-info">
                    <a class="sidebar-header" href="{% url 'followers' %}">
                        <h3 class="sidebarheader-big-title">
                            <span class="sc-icon-follow sidebarheader-icon"></span>
                            <span class="sidebarheader-title">148 followers</span>
                        </h3>
                    </a>
                    <div class="sidebar-content-box">
                        {% for i in sfw_range %}
                        <div class="sidebar-follower-each-content">
                            <a href="#"><img src="/static/imgs/assets/music-pic.png"
                                             style="width:55px; height: 55px; border-radius: 50%; border: #fff solid 5px"
                                             class="sidebar-track-img" id="side-fw-user-img-{{i}}"></a>
                        </div>
                        {% endfor %}
                    </div>
                </article>
                <!--                side bar followings info   -->
                <article class="sidebar-followings-info">
                    <a class="sidebar-header" href="{% url 'followings' %}">
                        <h3 class="sidebarheader-big-title">
                            <span class="sc-icon-follow sidebarheader-icon"></span>
                            <span class="sidebarheader-title">148 followings</span>
                        </h3>
                    </a>
                    <div class="sidebar-content-box">
                        {% for i in sfi_range %}
                        <div class="sidebar-likes-each-content">
                            <div style="display: inline-flex;" class="sidebar-content-fi-box" id="side-fi-{{i}}">
                                <img src="/static/imgs/assets/profile-pic.png" id="side-if-img-{{i}}"
                                     class="sidebar-fi-pic">
                            </div>
                            <div class="fi-text-box">
                                <p class="artist-link sidebar-fi-text fi-artist"><a>user name</a></p>
                                <!--                                unfollow btn-->
                                <a href="#">
                                    <span class="sc-icon-unfollow"></span>
                                </a>
                                <!--                                icons                                 -->
                                <div style="margin-top: 10px">
                                    <div>
                                        <a href="#">
                                            <span class="sc-icon-follow profile-track-icon"></span>
                                            <span class="sidebarheader-title">14.4k</span>
                                        </a>
                                        <a href="#">
                                            <span class="sc-icon-track profile-track-icon"></span>
                                            <span class="artist-link sidebar-fi-text">50</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </article>
                <!--                side bar comments info    -->
                <article class="sidebar-comments-info">
                    <a class="sidebar-header" href="{% url 'comments' %}">
                        <h3 class="sidebarheader-big-title">
                            <span class="sc-icon-comment sidebarheader-icon"></span>
                            <span class="sidebarheader-title">12 comments</span>
                        </h3>
                    </a>
                    <div class="sidebar-content-box">
                        <div class="sidebar-likes-each-content">
                            <div class="profile-user-comment-box">
                                <div class="comment-1-line-text">
                                    <p>on <a href="#"><span
                                            class="artist-link user-profile-comment-to-track">user track</span></a>
                                        <span class="comment-day-box">2 month ago</span></p>
                                </div>
                                <p>"@<span><a href="#">other user</a></span><span>thank you :)</span>"</span></p>
                            </div>
                            <hr>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<script>
    $('.sidebar-content-track-box').mouseover(function () {
        var track_id = this.id;
        console.log("in" + track_id);
        $("#play-btn-track-" + track_id).show();
    });
    $('.sidebar-content-track-box').mouseleave(function () {
        var track_id = this.id;
        console.log("out" + track_id);

        $("#play-btn-track-" + track_id).hide();
    });
</script>
</body>
</html>